@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

    .topContainer {
        background-color: #1f2937;
        display: flex;
        flex-direction: column;
    }

        .header {
            padding: 10px 100px;
            display: flex;
            justify-content: space-between;
        }
        
        .placeholderRectangle {
            width: 120px;
            height: 125px;
        }

        ul {
            list-style: none;
            display: flex;
        }

        a {
            text-decoration: none;
            color: white;
            padding: 10px;
        }

        .hero {
            padding: 100px 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .text {
            max-width: 50%;
            display: flex;
            flex: auto;
            flex-wrap: wrap;
        }

            .heading {
                font-size: 48px;
                font-weight: bolder;
                color: #d8d8d8;
                margin-bottom: auto;
            }

            .description {
                font-size: 24px;
                color: #F9FAF8
            }

            .signUpButton button {
                border-radius: 4px;
                margin-top: auto;
                padding: 10px 30px;
                color: white;
                font-weight: 900;
                background-color: #3882F6;
            }

            .placeholdingRectangle {
                width: 800px;
                height: 600px;
            }

    
    .middle1Container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 100px;
    }

        .label {
            display: flex;
            flex: auto;
            justify-content: center;
            font-size: 36px;
            font-weight: bolder;
            color: #1F2937
        }

        .images {
            display: flex;
            flex-direction: column;
            flex: auto;
            align-items: center;
        }

            .image-description {
                display: flex;
            }

                .image {
                    margin: 0px 25px;
                }
                
                    .imageText {
                        display: flex;
                        flex: auto;
                        justify-content: center;
                    }
                
            
            .placeholdRectangle {
                width: 450px;
                height: 300px;
                border: 4px solid grey;
            }


    .middle2Container {
        background: #E5E7EB;
        display: flex;
        flex-direction: column;
        color: #1F2937;
        margin-bottom: 100px;
    }

        .quote {
            display: flex;
            justify-content: center;
            margin: 50px 25px 0px 0px;
            font-size: 36px;
            font-weight: lighter;
            font-style: italic;
        }

        .quotedBy {
            display: flex;
            justify-content: flex-end;
            margin: 0px 100px 50px 50px;
            max-width: 70%;
            font-size: 26px;
            font-weight: light;
        }

    .callToActionContainer {
        margin: auto;
        padding: 50px;
        gap: 50px;
        background-color: #3882F6;
        color: white;
        display: flex;
        flex: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 50%;
        border-radius: 10px;
    }

        .callToAction {
            font-size: 24px;
            font-weight: bolder;
        }

        .shareButton button {
            background-color: #3882F6;
            font-size: 16px;
            font-weight: bold;
            border-radius: 4px;
            border-color: white;
            border-width: 3px;
        }


    .bottomContainer {
        padding: 50px;
        background-color: #1f2937;
        margin-top: 100px;
        color: white;
        display: flex;
        flex: auto;
        justify-content: center;
    }


